<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add PG</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='CSS/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
  </head>
  <body>
    <div class="space"></div>
    <div class="container">
      <div id="managepg-form-container">
        <div class="form-wrap">
          <h1>Register your PG</h1>
          <form
            method="POST"
            action="/registerPG"
            enctype="multipart/form-data"
          >
            <div class="form-group">
              <h3>Property Name</h3>
              <br />
              <input type="text" name="pgname" id="pgname" />
            </div>
            <div class="form-group">
              <h3>Property Description</h3>
              <br />
              <textarea cols="82" rows="6" name="pgdesc" id="pgdesc"></textarea>
            </div>
            <div class="form-group">
              <h3>Property State</h3>
              <br />
              <input type="text" name="pgstate" id="pgstate" />
            </div>
            <div class="form-group">
              <h3>Property Location ( City )</h3>
              <br />
              <input type="text" name="pgcity" id="pgcity" />
            </div>
            <div class="form-group">
              <h3>Property Pincode</h3>
              <br />
              <input type="text" name="pgpincode" id="pgpincode" />
            </div>
            <div class="form-group">
              <h3>Property Address</h3>
              <br />
              <textarea
                cols="82"
                rows="6"
                name="pgaddress"
                id="pgaddress"
              ></textarea>
            </div>
            <div class="form-group">
              <h3>Owner Name</h3>
              <br />
              <input type="text" name="ownername" id="ownername" />
            </div>
            <div class="form-group">
              <h3>PG Images Upload</h3>
              <br />
              <input type="file" name="pgimage[]" id="pgimage" multiple />
            </div>
            <br />
            <hr />
            <div id="category-type" class="big-same-line">
              <div class="form-group">
                <div class="select-same-line">
                  <h3><i class="fas fa-building fa-2x"></i></h3>
                  <select name="category" id="category">
                    <option value="standard">Standard (5k+)</option>
                    <option value="premium">Premium (10k+)</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="select-same-line">
                  <h3><i class="fas fa-restroom fa-2x"></i></h3>
                  <select name="pgtype" id="pgtype">
                    <option value="mens">Mens</option>
                    <option value="womens">Womens</option>
                    <option value="coliving">Co-living</option>
                  </select>
                </div>
              </div>
            </div>
            <br />
            <hr />
            <div class="big-same-line">
              <div class="form-group">
                <h4>Occupancy</h4>
                <div class="same-line">
                  <label for="single"><i class="fas fa-bed"></i></label>
                  <input
                    type="checkbox"
                    id="single"
                    name="single"
                    value="single"
                  />
                </div>
                <div class="same-line">
                  <label for="double"
                    ><i class="fas fa-bed"></i> <i class="fas fa-bed"></i
                  ></label>
                  <input
                    type="checkbox"
                    id="double"
                    name="double"
                    value="double"
                  />
                </div>
                <div class="same-line">
                  <label for="triple"
                    ><i class="fas fa-bed"></i> <i class="fas fa-bed"></i>
                    <i class="fas fa-bed"></i
                  ></label>
                  <input
                    type="checkbox"
                    id="triple"
                    name="triple"
                    value="triple"
                  />
                </div>
                <div class="same-line">
                  <label for="four"
                    ><i class="fas fa-bed"></i> <i class="fas fa-bed"></i>
                    <i class="fas fa-bed"></i> <i class="fas fa-bed"></i
                  ></label>
                  <input type="checkbox" id="four" name="four" value="four" />
                </div>
              </div>
              <div class="form-group" id="food">
                <h3>Food Included</h3>
                <div class="same-line">
                  <label for="breakfast"
                    ><i class="fas fa-concierge-bell"></i> Breakfast</label
                  >
                  <input
                    type="checkbox"
                    id="breakfast"
                    name="breakfast"
                    value="breakfast"
                  />
                </div>
                <div class="same-line">
                  <label for="lunch"
                    ><i class="fa-solid fa-concierge-bell"></i> Lunch</label
                  >
                  <input
                    type="checkbox"
                    id="lunch"
                    name="lunch"
                    value="lunch"
                  />
                </div>
                <div class="same-line">
                  <label for="dinner"
                    ><i class="fas fa-concierge-bell"></i> Dinner</label
                  >
                  <input
                    type="checkbox"
                    id="dinner"
                    name="dinner"
                    value="dinner"
                  />
                </div>
              </div>
            </div>
            <hr />
            <div class="big-same-line">
              <div class="form-group">
                <div class="select-same-line">
                  <h3><i class="fas fa-wind fa-2x"></i></h3>
                  <select name="isac" id="isac">
                    <option value="airconditioned">Air conditioned</option>
                    <option value="non airconditioned">
                      Non airconditioned
                    </option>
                    <option value="both">Both</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="select-same-line">
                  <h3><i class="fas fa-bath fa-2x"></i></h3>
                  <select name="bathtype" id="bathtype">
                    <option value="attached">Attached</option>
                    <option value="common">Common</option>
                  </select>
                </div>
              </div>
            </div>
            <hr />
            <div id="other" class="form-group">
              <h3>Other Amenities</h3>
              <div class="big-same-line">
                <div class="same-line">
                  <label for="wifi"
                    ><i class="fa-solid fa-wifi"></i> WiFi</label
                  >
                  <input type="checkbox" id="wifi" name="wifi" value="wifi" />
                </div>
                <div class="same-line">
                  <label for="ups"
                    ><i class="fa-solid fa-plug-circle-bolt"></i> UPS</label
                  >
                  <input type="checkbox" id="ups" name="ups" value="ups" />
                </div>
              </div>
              <div class="big-same-line">
                <div class="same-line">
                  <label for="pool"
                    ><i class="fa-solid fa-swimmer"></i> Pool</label
                  >
                  <input type="checkbox" id="pool" name="pool" value="pool" />
                </div>
                <div class="same-line">
                  <label for="laundry"
                    ><i class="fas fa-hot-tub"></i> Laundry</label
                  >
                  <input
                    type="checkbox"
                    id="laundry"
                    name="laundry"
                    value="laundry"
                  />
                </div>
              </div>
              <div class="big-same-line">
                <div class="same-line">
                  <label for="iron"
                    ><i class="fa-solid fa-shirt"></i> Ironing</label
                  >
                  <input type="checkbox" id="iron" name="iron" value="iron" />
                </div>
                <div class="same-line">
                  <label for="gym"
                    ><i class="fa-solid fa-dumbbell"></i><br />
                    Gym</label
                  >
                  <input type="checkbox" id="gym" name="gym" value="gym" />
                </div>
              </div>
              <div class="big-same-line">
                <div class="same-line">
                  <label for="party"
                    ><i class="fas fa-holly-berry"></i> Party</label
                  >
                  <input
                    type="checkbox"
                    id="party"
                    name="party"
                    value="party"
                  />
                </div>
                <div class="same-line">
                  <label for="music"
                    ><i class="fas fa-music"></i> Loud music</label
                  >
                  <input
                    type="checkbox"
                    id="music"
                    name="music"
                    value="music"
                  />
                </div>
              </div>
            </div>
            <br />
            <button type="submit" class="btn">Save Changes & Next</button><br />
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
