<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add PG</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='CSS/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
  </head>
  <body>
    <nav id="main-nav">
      <ul>
        <li><a href="pindex">Home</a></li>
        <li><a class="current" href="managepg">Manage PG</a></li>
        <li><a href="pgownerprofile">Profile</a></li>
      </ul>
    </nav>
    <br />
    <br />

    <div class="container">
      <div id="managepg-form-container">
        <div class="form-wrap">
          <h1>Register your PG</h1>
          <form
            method="POST"
            action="/registerPG"
            enctype="multipart/form-data"
          >
            <div class="form-group">
              <h3>Property Name</h3>
              <br />
              <input type="text" name="pgname" id="pgname" />
            </div>
            <div class="form-group">
              <h3>Property Description</h3>
              <br />
              <textarea cols="82" rows="6" name="pgdesc" id="pgdesc"></textarea>
            </div>
            <div class="form-group">
              <h3>Property State</h3>
              <br />
              <input type="text" name="pgstate" id="pgstate" />
            </div>
            <div class="form-group">
              <h3>Property Location ( City )</h3>
              <br />
              <input type="text" name="pgcity" id="pgcity" />
            </div>
            <div class="form-group">
              <h3>Property Pincode</h3>
              <br />
              <input type="text" name="pgpincode" id="pgpincode" />
            </div>
            <div class="form-group">
              <h3>Property Address</h3>
              <br />
              <textarea
                cols="82"
                rows="6"
                name="pgaddress"
                id="pgaddress"
              ></textarea>
            </div>
            <div class="form-group">
              <h3>Owner Name</h3>
              <br />
              <input type="text" name="ownername" id="ownername" />
            </div>
            <div class="form-group">
              <h3>PG Images Upload</h3>
              <br />
              <input type="file" name="pgimage[]" id="pgimage" multiple />
            </div>
            <br />
            <hr />
            <div id="category-type" class="big-same-line">
              <div class="form-group">
                <div class="select-same-line">
                  <h3>Category</h3>
                  <select name="category" id="category">
                    <option value="standard">Standard (5k+)</option>
                    <option value="premium">Premium (10k+)</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="select-same-line">
                  <h3>PG for</h3>
                  <select name="pgtype" id="pgtype">
                    <option value="mens">Mens</option>
                    <option value="womens">Womens</option>
                    <option value="coliving">Co-living</option>
                  </select>
                </div>
              </div>
            </div>
            <br />
            <hr />
            <div class="big-same-line">
              <div class="form-group">
                <h4>Occupancy</h4>
                <div class="same-line">
                  <label for="single">Single sharing</label>
                  <input
                    type="checkbox"
                    id="single"
                    name="single"
                    value="single"
                  />
                </div>
                <div class="same-line">
                  <label for="double">Double sharing</label>
                  <input
                    type="checkbox"
                    id="double"
                    name="double"
                    value="double"
                  />
                </div>
                <div class="same-line">
                  <label for="triple">Triple sharing</label>
                  <input
                    type="checkbox"
                    id="triple"
                    name="triple"
                    value="triple"
                  />
                </div>
                <div class="same-line">
                  <label for="four">Four sharing</label>
                  <input type="checkbox" id="four" name="four" value="four" />
                </div>
                <div class="same-line">
                  <label for="multi">Multi sharing</label>
                  <input
                    type="checkbox"
                    id="multi"
                    name="multi"
                    value="multi"
                  />
                </div>
              </div>
              <div class="form-group" id="food">
                <h3>Food Included</h3>
                <div class="same-line">
                  <label for="breakfast">Breakfast</label>
                  <input
                    type="checkbox"
                    id="breakfast"
                    name="breakfast"
                    value="breakfast"
                  />
                </div>
                <div class="same-line">
                  <label for="lunch">Lunch</label>
                  <input
                    type="checkbox"
                    id="lunch"
                    name="lunch"
                    value="lunch"
                  />
                </div>
                <div class="same-line">
                  <label for="dinner">Dinner</label>
                  <input
                    type="checkbox"
                    id="dinner"
                    name="dinner"
                    value="dinner"
                  />
                </div>
              </div>
            </div>
            <hr />
            <div class="big-same-line">
              <div class="form-group">
                <div class="select-same-line">
                  <h3>AC/Non AC</h3>
                  <select name="isac" id="isac">
                    <option value="airconditioned">Air conditioned</option>
                    <option value="non airconditioned">
                      Non airconditioned
                    </option>
                    <option value="both">Both</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <div class="select-same-line">
                  <h3>Bathroom Type</h3>
                  <select name="bathtype" id="bathtype">
                    <option value="attached">Attached</option>
                    <option value="common">Common</option>
                  </select>
                </div>
              </div>
            </div>
            <hr />
            <div id="other" class="form-group">
              <h3>Other Amenities</h3>
              <div class="big-same-line">
                <div class="same-line">
                  <label for="wifi">WiFi</label>
                  <input type="checkbox" id="wifi" name="wifi" value="wifi" />
                </div>
                <div class="same-line">
                  <label for="ups">UPS</label>
                  <input type="checkbox" id="ups" name="ups" value="ups" />
                </div>
              </div>
              <div class="big-same-line">
                <div class="same-line">
                  <label for="wasmac">Washing Machine</label>
                  <input
                    type="checkbox"
                    id="wasmac"
                    name="wasmac"
                    value="wasmac"
                  />
                </div>
                <div class="same-line">
                  <label for="laundry">Laundry</label>
                  <input
                    type="checkbox"
                    id="laundry"
                    name="laundry"
                    value="laundry"
                  />
                </div>
              </div>
              <div class="big-same-line">
                <div class="same-line">
                  <label for="iron">Ironing</label>
                  <input type="checkbox" id="iron" name="iron" value="iron" />
                </div>
              </div>
            </div>
            <br />
            <button type="submit" class="btn">Save Changes</button><br />
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
