<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Rooms</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='CSS/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
  </head>
  <body>
    <div class="space"></div>
    <div class="container">
      <div id="login-container addRoom-container">
        <div class="form-wrap">
          <h1>Add Rooms</h1>
          <form id="addRooms" action="/addRooms" method="POST">
            <div class="form-group">
              <label for="single">Enter Number of Single Sharing Rooms</label
              ><br />
              <input type="number" name="single" id="single" value="0" /><br />
              <label for="singlePrice"
                >Enter Price of Single Sharing Rooms</label
              ><br />
              <input
                type="number"
                name="singlePrice"
                id="singlePrice"
                value="0"
              />
            </div>
            <br />
            <hr />
            <br />
            <div class="form-group">
              <label for="double">Enter Number of double Sharing Rooms</label
              ><br />
              <input type="number" name="double" id="double" value="0" /><br />
              <label for="doublePrice"
                >Enter Price of Double Sharing Rooms</label
              ><br />
              <input
                type="number"
                name="doublePrice"
                id="doublePrice"
                value="0"
              />
            </div>
            <br />
            <hr />
            <br />
            <div class="form-group">
              <label for="triple">Enter Number of triple Sharing Rooms</label
              ><br />
              <input type="number" name="triple" id="triple" value="0" /><br />
              <label for="triplePrice"
                >Enter Price of Triple Sharing Rooms</label
              ><br />
              <input
                type="number"
                name="triplePrice"
                id="triplePrice"
                value="0"
              />
            </div>
            <br />
            <hr />
            <br />
            <div class="form-group">
              <label for="quad">Enter Number of quad Sharing Rooms</label><br />
              <input type="number" name="quad" id="quad" value="0" /><br />
              <label for="quadPrice">Enter Price of Quad Sharing Rooms</label
              ><br />
              <input type="number" name="quadPrice" id="quadPrice" value="0" />
            </div>
            <br />
            <button type="submit" class="btn">Submit</button>
            <p class="bottom-text">
              By clicking the Add button, you agree to our
              <a href="#">Terms & Conditions</a> and
              <a href="#">Privacy Policy</a>
            </p>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
