<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Booking</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='CSS/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
  </head>

  <body>
    <nav id="main-nav">
      <ul>
        <li><a href="index">Home</a></li>
        <li><a href="listings">Listings</a></li>
        <li><a class="current" href="booking">Booking</a></li>
        <li><a href="userqueries">Queries</a></li>
        <li><a href="profile">Profile</a></li>
        <li><a href="contact">Contact</a></li>
        <div id="logout">
          <li><a href="logout">Logout</a></li>
        </div>
      </ul>
    </nav>
    <div class="space"></div>
    <div class="container">
      <!-- CSS Cards -->
      {% if len>0 %}
      <br />
      <div class="card-items">
        {%for i in range(0, len)%}
        <div class="card myBooking">
          <div class="card-img">
            <img src="../static/uploads/{{pg_data[i][3]}}" alt="" />
          </div>
          <div class="card-content">
            <br />
            <h2>Booking Id : {{booking_details[i][0]}}</h2>
            <h2>Booking Date : {{booking_details[i][2]}}</h2>
            <br />
            <hr />
            <br />
            <h2>Name : {{pg_data[i][1]}}</h2>
            <h2>Id : {{pg_data[i][0]}}</h2>
            <h2>Type : {{pg_data[i][6]}}</h2>
            <h2>City : {{pg_data[i][9]}}</h2>
            <h2>Overall rating : {{pg_data[i][11]}} / 5</h2>
            <br />
            <hr />
            <br />
            {% if booking_details[i][3] == 0 %}
            <div id="ratePG">
              <form action="/ratePG" method="POST">
                <h2>Rate PG</h2>

                <div class="rate">
                  <input type="radio" id="star5" name="rate" value="5" />
                  <label for="star5" title="text">5 stars</label>
                  <input type="radio" id="star4" name="rate" value="4" />
                  <label for="star4" title="text">4 stars</label>
                  <input type="radio" id="star3" name="rate" value="3" />
                  <label for="star3" title="text">3 stars</label>
                  <input type="radio" id="star2" name="rate" value="2" />
                  <label for="star2" title="text">2 stars</label>
                  <input type="radio" id="star1" name="rate" value="1" />
                  <label for="star1" title="text">1 star</label>
                </div>
                <br />

                <div class="card-btn">
                  <button
                    type="submit"
                    name="pg-id"
                    class="btn viewBtn"
                    value="{{pg_data[i][0]}}"
                  >
                    Submit
                  </button>
                </div>
              </form>
            </div>
            {% else %}
            <div><h2>Your Rating : {{booking_details[i][3]}}</h2></div>

            {% endif %}
          </div>
        </div>
        {%endfor%}
      </div>
      {% else %}
      <h1>No bookings yet.</h1>
      {% endif %}
      <div class="space"></div>
    </div>
    {% if status=='booked' %}
    <script src="{{ url_for('static', filename='Scripts/confetti.js') }}"></script>
    <script>
      // start

      const start = () => {
        setTimeout(function () {
          confetti.start();
        }, 1000); // 1000 is time that after 1 second start the confetti ( 1000 = 1 sec)
      };

      //  Stop

      const stop = () => {
        setTimeout(function () {
          confetti.stop();
        }, 5000); // 5000 is time that after 5 second stop the confetti ( 5000 = 5 sec)
      };

      start();
      stop();
    </script>
    {% endif %}
  </body>
</html>
