<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='CSS/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
  </head>

  <body>
    <nav id="main-nav">
      <ul>
        <li><a href="index">Home</a></li>
        <li><a href="listings">Listings</a></li>
        <li><a href="favorites">Favorites</a></li>
        <li><a href="profile">Profile</a></li>
        <li><a class="current" href="contact">Contact</a></li>
      </ul>
    </nav>
    <br/>
    <br/>
    <div class="container">
      <div id="form-container">
        <div class="form-wrap">
          <h1>Contact Us</h1>
          <p>Developers for this Site</p>
          <marquee>Dixon JG Dinesh</marquee>
          <form>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" name="Name" id="name" />
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" name="email" id="email" />
            </div>
            <div class="form-group">
              <label for="queries">Queries</label>
              <input type="text" name="Queries" id="queries" />
            </div>
            <button type="submit" class="btn">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>

  <!-- <footer id="main-footer">
    <div class="footer-content container">
      <p>Copyright &copy; 2023. All Rights Reserved</p>
      <div class="social">
        <i class="fab fa-twitter"></i>
        <i class="fab fa-linkedin"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-youtube"></i>
      </div>
    </div>
  </footer> -->
</html>
