<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manage PG</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='CSS/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
  </head>

  <body>
    <nav id="main-nav">
      <ul>
        <li><a href="pgownerdashboard">Home</a></li>
        <li><a class="current" href="managepg">Manage PG</a></li>
        <li><a href="pgownwerprofile">Profile</a></li>
      </ul>
    </nav>
    <br />
    <br />
    <div class="container">
      <div id="contact-form-container">
        <div class="form-wrap">
          <h1>Manage PG</h1>
          <form>
            <div class="form-group">
                <label for="pgimage">PG Images Upload</label>
                <input type="file" name="pgimage" id="pgimage" multiple />
            </div>
            <div class="form-group">
                <label for="category">Category</label>
                <select name="category" id="category">
                    <option value="premium">Premium</option>
                    <option value="standard">Standard</option>
                </select>
            </div>
            <div class="form-group">
                <label for="type">Type</label>
                <select name="type" id="type">
                    <option value="mens">Mens</option>
                    <option value="womens">Women</option>
                    <option value="coliving">Co-living</option>
                </select>
            </div>
            <div class="form-group">
                <h4>Occupancy</h4>
                <label for="single">Single sharing</label>
                <input type="checkbox" id="single" name="single" value="single">
                <label for="double">Double sharing</label>
                <input type="checkbox" id="double" name="double" value="double">
                <label for="triple">Triple sharing</label>
                <input type="checkbox" id="triple" name="triple" value="triple">
                <label for="four">Four sharing</label>
                <input type="checkbox" id="four" name="four" value="four">
                <label for="multi">Multi sharing</label>
                <input type="checkbox" id="multi" name="multi" value="multi">
            </div>
            <div class="form-group">
                <h4>Food Included</h4>
                <label for="breakfast">Breakfast</label>
                <input type="checkbox" id="breakfast" name="breakfast" value="breakfast">
                <label for="lunch">Lunch</label>
                <input type="checkbox" id="lunch" name="lunch" value="lunch">
                <label for="dinner">Dinner</label>
                <input type="checkbox" id="dinner" name="dinner" value="dinner">
            </div>
            <div class="form-group">
                <label for="isac"> AC/Non AC</label>
                <select name="isac" id="isac">
                    <option value="airconditioned">Air conditioned</option>
                    <option value="non airconditioned">Non airconditioned</option>
                    <option value="both">Both</option>
                </select>
            </div>
            <div class="form-group">
                <label for="bathtype">Bathroom Type</label>
                <select name="bathtype" id="bathtype">
                    <option value="attached">Attached</option>
                    <option value="common">Common</option>
                </select>
            </div>
            <div class="form-group">
                <h4>Other Amenities</h4>
                <label for="wifi">WiFi</label>
                <input type="checkbox" id="wifi" name="wifi" value="wifi">
                <label for="ups">UPS</label>
                <input type="checkbox" id="ups" name="ups" value="ups">
                <label for="wacmac">Washing Machine</label>
                <input type="checkbox" id="wacmac" name="wacmac" value="wacmac">
                <label for="laundry">Laundry</label>
                <input type="checkbox" id="laundry" name="laundry" value="laundry">
                <label for="iron">Ironing</label>
                <input type="checkbox" id="iron" name="iron" value="iron">
            </div>
            <button type="submit" class="btn">Save Changes</button>
          </form>
        </div>
      </div>
    </div>
  </body>

  <!-- <footer id="main-footer">
    <div class="footer-content container">
      <p>Copyright &copy; 2023. All Rights Reserved</p>
      <div class="social">
        <i class="fab fa-twitter"></i>
        <i class="fab fa-linkedin"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-youtube"></i>
      </div>
    </div>
  </footer> -->
</html>
