<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manage PG</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='CSS/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  </head>
  <style>
    body,
    h1,
    h2,
    h4,
    p {
      font-family: Maiandra GD;
      line-height: 1.6rem;
    }
    #main-nav li {
      padding: 16.4px 24px;
    }
    #main-nav a {
      font-size: 16px;
      padding: 0 0 8px;
    }
  </style>
  <body>
    <nav id="main-nav">
      <ul>
        <li><a href="pindex">Home</a></li>
        <li><a class="current" href="managepg">Manage PG</a></li>
        <li><a href="guests">Guests</a></li>
        <li><a href="pgownerprofile">Profile</a></li>
        <div id="logout">
          <li><a href="logout">Logout</a></li>
        </div>
      </ul>
    </nav>
    <div class="space"></div>
    <div class="container">
      {% if len == 0 %}
      <h1>No PGs registered yet.</h1>
      <a href="/addPG" class="btn">Register Your PG</a>
      {% else %}

      <div class="main-content">
        <div class="main-img w3-content w3-display-container">
          <img class="myslides" src="../static/uploads/{{data[0][3]}}" alt="" />
          <img class="mySlides" src="../static/uploads/{{data[0][4]}}" />
          <img class="mySlides" src="../static/uploads/{{data[0][5]}}" />
          <button class="w3-button w3-display-left" onclick="plusDivs(-1)">
            &#10094;
          </button>
          <button class="w3-button w3-display-right" onclick="plusDivs(+1)">
            &#10095;
          </button>
        </div>
        <div class="main-div">
          <h1 style="color: aquamarine">{{data[0][1]}}</h1>
          <h4>Property-id : {{data[0][0]}}</h4>
          <h4>Description : {{data[0][2]}}</h4>
          <h4>Type : {{data[0][6]}}</h4>
          <h4>Agent-id : {{data[0][7]}}</h4>
          <h4>Address : {{data[0][8]}}</h4>
          <h4>City : {{data[0][9]}}</h4>
          <h4>Pincode : {{data[0][10]}}</h4>
          <br />
          <hr />
          <br />
          <h1>Room Availability</h1>
          <br />
          <h4>
            Single sharing : {{roomData[0][5]}} (available) / {{roomData[0][4]}}
            (total)
          </h4>
          <h4 style="color: aquamarine">Price : ₹ {{roomData[0][6]}}</h4>
          <br />
          <h4>
            Double sharing : {{roomData[1][5]}} (available) / {{roomData[1][4]}}
            (total)
          </h4>
          <h4 style="color: aquamarine">Price : ₹ {{roomData[1][6]}}</h4>
          <br />
          <h4>
            Triple sharing : {{roomData[2][5]}} (available) / {{roomData[2][4]}}
            (total)
          </h4>
          <h4 style="color: aquamarine">Price : ₹ {{roomData[2][6]}}</h4>
          <br />
          <h4>
            Quad sharing : {{roomData[3][5]}} (available) / {{roomData[3][4]}}
            (total)
          </h4>
          <h4 style="color: aquamarine">Price : ₹ {{roomData[3][6]}}</h4>
          <br />
          <form action="/editRooms" , method="GET">
            <button
              type="submit"
              name="pg-id"
              class="btn viewBtn editPGButton"
              value="{{data[0][0]}}"
            >
              Edit
            </button>
          </form>
        </div>
      </div>

      {% endif %}
      <div class="space"></div>
    </div>
    <div class="space"></div>

    <script>
      var slideIndex = 1;
      showDivs(slideIndex);

      function plusDivs(n) {
        showDivs((slideIndex += n));
      }

      function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) {
          slideIndex = 1;
        }
        if (n < 1) {
          slideIndex = x.length;
        }
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
        }
        x[slideIndex - 1].style.display = "block";
      }
    </script>
  </body>
</html>
