<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>User Booking</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='CSS/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
  </head>

  <body>
    <nav id="main-nav">
      <ul>
        <li><a href="pgownerdashboard">Home</a></li>
        <li><a class="current" href="managepg">Manage PG</a></li>
        <li><a href="pgownwerprofile">Profile</a></li>
      </ul>
    </nav>
    <br />
    <br />
    <div class="container">
      <div id="contact-form-container">
        <div class="form-wrap">
          <h1>PGOwner Booking</h1>
          <form>
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" name="Name" id="name" />
            </div>
            <div class="form-group-option">
              <label for="bothGender">Gender</label>
              <div>
                <input type="radio" id="Male" name="gender" value="Male" />
                <label for="Male">Male</label><br />
              </div>
              <div>
                <input type="radio" id="Female" name="gender" value="Female" />
                <label for="Female">Female</label><br />
              </div>
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" name="email" id="email" />
            </div>
            <div class="form-group">
              <label for="phone">Phone Number</label>
              <input type="tel" name="phone" id="phone" />
            </div>
            <div class="form-group">
              <label for="aadhaar">Aadhaar Number</label>
              <input type="number" name="aadhaar" id="aadhaar" />
            </div>
            <div class="form-group">
              <label for="file">Aadhaar Upload</label>
              <input type="file" name="file" id="file" />
            </div>
            <div class="form-group">
              <label for="pgname">PG Name</label>
              <input type="name" name="pgname" id="pgname" />
            </div>
            <div class="form-group">
              <label for="pgarea">PG Area</label>
              <input type="name" name="pgarea" id="pgarea" />
            </div>
            <div class="form-group">
              <label for="pgcity">PG City</label>
              <input type="name" name="pgcity" id="pgcity" />
            </div>
            <div class="form-group">
              <label for="pgstate">PG State</label>
              <input type="name" name="pgstate" id="pgstate" />
            </div>
            <div class="form-group">
              <label for="pgpincode">PG PIN Code</label>
              <input type="number" name="pgpin" id="pgpin" />
            </div>
            <div class="form-group">
              <label for="pgaddress">PG Address</label>
              <input type="address" name="pgaddress" id="pgaddress" />
            </div>
            <button type="submit" class="btn">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>

  <!-- <footer id="main-footer">
    <div class="footer-content container">
      <p>Copyright &copy; 2023. All Rights Reserved</p>
      <div class="social">
        <i class="fab fa-twitter"></i>
        <i class="fab fa-linkedin"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-youtube"></i>
      </div>
    </div>
  </footer> -->
</html>
