<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Listing</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='CSS/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />

    <!-- LoadMore -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" type="text/javascript"></script> -->

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  </head>

  <style>
    body,
    h1,
    h2,
    h4,
    p {
      font-family: Maiandra GD;
      line-height: 1.6rem;
    }
    #main-nav li {
      padding: 16.4px 24px;
    }
    #main-nav a {
      font-size: 16px;
      padding: 0 0 8px;
    }
  </style>

  <body>
    <nav id="main-nav">
      <ul>
        <li><a href="index">Home</a></li>
        <li><a class="current" href="listings">Listings</a></li>
        <li><a href="booking">Booking</a></li>
        <li><a href="profile">Profile</a></li>
        <li><a href="contact">Contact</a></li>
        <div id="logout">
          <li><a href="logout">Logout</a></li>
        </div>
      </ul>
    </nav>
    <div class="space"></div>
    <div class="container">
      <div class="main-content">
        <div class="main-img w3-content w3-display-container">
          <img class="myslides" src="../static/uploads/{{data[0][3]}}" alt="" />
          <img class="mySlides" src="../static/uploads/{{data[0][4]}}"" /> <img
          class="mySlides" src="../static/uploads/{{data[0][5]}}"" />
          <button class="w3-button w3-display-left" onclick="plusDivs(-1)">
            &#10094;
          </button>
          <button class="w3-button w3-display-right" onclick="plusDivs(+1)">
            &#10095;
          </button>
        </div>
        <div class="main-div">
          <h1 class="overflow">Name : {{data[0][1]}}</h1>
          <h4>Property-id : {{data[0][0]}}</h4>
          <h4>Description : {{data[0][2]}}</h4>
          <h4>Type : {{data[0][6]}}</h4>
          <h4>Agent-id : {{data[0][7]}}</h4>
          <h4 class="overflow">Address : {{data[0][8]}}</h4>
          <h4>City : {{data[0][9]}}</h4>
          <h4>Pincode : {{data[0][10]}}</h4>
          <br />
          <h1>Room Availability</h1>
          <br />
          <div class="price-cards">
            <div>
              <h4>
                Single sharing <br /><br />{{roomData[0][5]}} /
                {{roomData[0][4]}}
                <br />
                <h4>₹ {{roomData[0][6]}}</h4>
              </h4>
              <div class="main-btn">
                <form action="/bookPG" method="POST">
                  <button
                    class="btn"
                    name="bookBtn"
                    id="bookBtn"
                    value="single-{{data[0][0]}}-{{roomData[0][0]}}"
                  >
                    Book
                  </button>
                </form>
              </div>
            </div>
            <br />
            <div>
              <h4>
                Double sharing <br /><br />{{roomData[1][5]}} /
                {{roomData[1][4]}}
                <br />
                <h4>₹ {{roomData[1][6]}}</h4>
              </h4>
              <div class="main-btn">
                <form action="/bookPG" method="POST">
                  <button
                    class="btn"
                    name="bookBtn"
                    id="bookBtn"
                    value="double-{{data[0][0]}}-{{roomData[0][0]}}"
                  >
                    Book
                  </button>
                </form>
              </div>
            </div>
            <br />
            <div>
              <h4>
                Triple sharing <br /><br />{{roomData[2][5]}} /
                {{roomData[2][4]}}
                <br />
                <h4>₹ {{roomData[2][6]}}</h4>
              </h4>
              <div class="main-btn">
                <form action="/bookPG" method="POST">
                  <button
                    class="btn"
                    name="bookBtn"
                    id="bookBtn"
                    value="triple-{{data[0][0]}}-{{roomData[0][0]}}"
                  >
                    Book
                  </button>
                </form>
              </div>
            </div>
            <br />
            <div>
              <h4>
                Quad sharing <br /><br />{{roomData[3][5]}} / {{roomData[3][4]}}
                <br />
                <h4>₹ {{roomData[3][6]}}</h4>
              </h4>
              <div class="main-btn">
                <form action="/bookPG" method="POST">
                  <button
                    class="btn"
                    name="bookBtn"
                    id="bookBtn"
                    value="quad-{{data[0][0]}}-{{roomData[0][0]}}"
                  >
                    Book
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br /><br />

      <h1>You might also like</h1>
      <br />
      <!-- CSS Cards -->
      <!-- CSS Cards -->
      <div class="card-items">
        {%for i in range(0, rlen)%}
        <div class="card recc-card">
          <div class="card-img recc-card-img">
            <img src="../static/uploads/{{recommendation_data[i][4]}}" alt="" />
          </div>
          <div class="card-content recc-card-content">
            <form action="/viewListing" method="POST">
              <h4 class="overflow">{{recommendation_data[i][1]}}</h4>
              <h5>Type : {{recommendation_data[i][6]}}</h5>
              <h5>Rating : {{recommendation_data[i][11]}} / 5</h5>
              <div class="card-btn recc-card-btn">
                <button
                  type="submit"
                  name="pg-id"
                  class="btn viewBtn recc-viewBtn"
                  value="{{recommendation_data[i][0]}}"
                >
                  View
                </button>
              </div>
            </form>
          </div>
        </div>
        {%endfor%}
      </div>

      <div class="space"></div>
    </div>
    <footer id="main-footer">
      <div class="footer-content">
        <p>Copyright &copy; 2023. All Rights Reserved</p>
        <div class="social">
          <i class="fab fa-twitter"></i>
          <i class="fab fa-linkedin"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-youtube"></i>
        </div>
      </div>
    </footer>

    <!-- slideshow -->
    <script>
      var slideIndex = 1;
      showDivs(slideIndex);

      function plusDivs(n) {
        showDivs((slideIndex += n));
      }

      function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("mySlides");
        if (n > x.length) {
          slideIndex = 1;
        }
        if (n < 1) {
          slideIndex = x.length;
        }
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";
        }
        x[slideIndex - 1].style.display = "block";
      }
    </script>
  </body>
</html>
