<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Agents</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='CSS/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <!-- tables -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.datatables.net/1.13.2/css/dataTables.bootstrap5.min.css"
    />
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.2/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.2/js/dataTables.bootstrap5.min.js"></script>
  </head>

  <body>
    <nav id="main-nav">
      <ul>
        <li><a href="aindex">Home</a></li>
        <li><a href="viewusers">Users</a></li>
        <li><a class="current" href="viewpgowners">Agents</a></li>
        <li><a href="viewqueries">Queries</a></li>
      </ul>
    </nav>
    <br />
    <div class="container adminTables">
      <h1 class="adminTitle">Agents</h1>
      <table id="example" class="table table-striped" style="width: 100%">
        <thead>
          <tr>
            <th>Agent-id</th>
            <th>Agent Name</th>
            <th>E-mail</th>
            <th>Phone</th>
            <th>Aadhaar</th>
            <th>Gender</th>
          </tr>
        </thead>
        <tbody>
          {%for i in range(0, len)%}
          <tr>
            <td>{{data[i][0]}}</td>
            <td>{{data[i][1]}}</td>
            <td>{{data[i][3]}}</td>
            <td>{{data[i][4]}}</td>
            <td>{{data[i][5]}}</td>
            <td>{{data[i][6]}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="space"></div>

    <footer id="main-footer">
      <div class="footer-content">
        <p>Copyright &copy; 2023. All Rights Reserved</p>
        <div class="social">
          <i class="fab fa-twitter"></i>
          <i class="fab fa-linkedin"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-youtube"></i>
        </div>
      </div>
    </footer>

    <script>
      $(document).ready(function () {
        $("#example").DataTable();
      });
    </script>
  </body>
</html>
