<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Queries</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='CSS/style.css') }}"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
  </head>

  <body>
    <nav id="main-nav">
      <ul>
        <li><a href="aindex">Home</a></li>
        <li><a href="viewusers">Users</a></li>
        <li><a href="viewpgowners">Agents</a></li>
        <li><a class="current" href="viewqueries">Queries</a></li>
        <div id="logout">
          <li><a href="logout">Logout</a></li>
        </div>
      </ul>
    </nav>
    <div class="container">
      <h1>Queries</h1>
      <div class="queries-container">
        {% for i in range(len)%}
        <div class="query">
          <h1>{{data[i][2]}}</h1>
          <h3>{{data[i][3]}}</h3>
          <h3>Query : {{data[i][4]}}</h3>
          <form action="/reply" method="POST">
            <input type="text" name="reply" id="reply" />
            <button type="submit" name="queryId" value="{{data[i][0]}}">
              Reply
            </button>
          </form>
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="space"></div>

    <footer id="main-footer">
      <div class="footer-content">
        <p>Copyright &copy; 2023. All Rights Reserved</p>
        <div class="social">
          <i class="fab fa-twitter"></i>
          <i class="fab fa-linkedin"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-youtube"></i>
        </div>
      </div>
    </footer>
  </body>
</html>
